*.so
*.tar.bz2
*.pyc
.DS_Store
.eggs
.idea
.cache/*
build/*
dist/*
venv/*
venv*/*
docs/build/*
pip-wheel-metadata/*
src/seabreeze/cseabreeze/c_seabreeze_wrapper.cpp
src/seabreeze.egg-info
src/seabreeze/_version.py
